doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		title BBk
		link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="libs/slick-carousel/slick/slick-theme.css")
		link(rel="stylesheet" href="libs/slick-carousel/slick/slick.css")
		link(rel="stylesheet" href="css/main.css")

	body
		//- div.loader
		//- 	div.loader_inner
	
		.w-main
			header
				.header__left
					.header__menu
						ul
							li
								a(href="#") О мероприятии
							li
								a(href="#") Место проведения
							li
								a(href="#") Условия участия 
							li
								a(href="#") Контакты								
				.header__center

					.header__logo
						img(src="images/header_logo.png" alt="")

					p.header__after-logo Водные ресурсы России для обеспечения устойчивого развития страны, экологической безопасности и здоровья населения

					.arbat__moskow МОСКВА, 27 – 30 ИЮНЯ

				.header__right
					.header__phone +7 (495) 939-19-36
					.header__mail info@raww.ru

			.main-menu
				nav
					a(href="#") Программный комитет 
					a(href="#") Деловая программа
					a(href="#") Приветственные слова 
					a(href="#") Партнеры 
					a(href="#") СМИ
					a(href="#") Выставка 

			.counter
				h3.h3_white До Начала осталось

				button.arbat__button Принять участие

		section.s-event
			.h2-wrap
				h2 О мероприятии

			p Всероссийский водный конгресс «Водные ресурсы России для обеспечения устойчивого развития страны, экологической безопасности и здоровья населения» является центральной площадкой для обсуждения одного из приоритетных направлений деятельности в рамках проведения Года экологии в Российской Федерации - охраны и защиты водных объектов. 

			p Учитывая статус нашей страны в качестве экологического донора планеты, в том числе и по водным ресурсам, а также принимая во внимание Парижское соглашение по борьбе с глобальным изменением климата, данная тема является актуальной не только для России, но и для всего международного сообщества.

			.event__slider

				.slide

					.slide__img
						img(src="images/slide_img.png" alt="")

					.slide__cont
						p.slide__quote Всероссийский водный конгресс «Водные ресурсы России для обеспечения устойчивого развития страны, экологической безопасности и здоровья населения» является центральной площадкой для обсуждения одного из приоритетных направлений деятельности в рамках проведения Года экологии в Российской Федерации - охраны и защиты водных объектов.

						.slide__man Владимир Путин, Президент Российской Федерации
						.slide__where России для обеспечения устойчивого развития страны

				.slide

					.slide__img
						img(src="images/slide_img.png" alt="")

					.slide__cont
						p.slide__quote Всероссийский водный конгресс «Водные ресурсы России для обеспечения устойчивого развития страны, экологической безопасности и здоровья населения» является центральной площадкой для обсуждения одного из приоритетных направлений деятельности в рамках проведения Года экологии в Российской Федерации - охраны и защиты водных объектов.

						.slide__man Владимир Путин, Президент Российской Федерации
						.slide__where России для обеспечения устойчивого развития страны

				.slide

					.slide__img
						img(src="images/slide_img.png" alt="")

					.slide__cont
						p.slide__quote Всероссийский водный конгресс «Водные ресурсы России для обеспечения устойчивого развития страны, экологической безопасности и здоровья населения» является центральной площадкой для обсуждения одного из приоритетных направлений деятельности в рамках проведения Года экологии в Российской Федерации - охраны и защиты водных объектов.

						.slide__man Владимир Путин, Президент Российской Федерации
						.slide__where России для обеспечения устойчивого развития страны

			h3 Мероприятие пройдет при поддержке 

			.support

				.support__row1
					.support__item
						.support__img
							img(src="images/support1_1.png" alt="")
						.support__text Совет Федерации ФС РФ

					.support__item
						.support__img
							img(src="images/support1_2.png" alt="")
						.support__text Государственная Дума ФС РФ

					.support__item
						.support__img
							img(src="images/support1_3.png" alt="")
						.support__text Министерство ромышленности и торговли России

					.support__item
						.support__img
							img(src="images/support1_4.png" alt="")
						.support__text Министерство природных ресурсов и экологии Росии

					.support__item
						.support__img
							img(src="images/support1_5.png" alt="")
						.support__text Министерство сельского хозяйства Росии

				.support__row2

					.support__item
						.support__img
							img(src="images/support2_1.png" alt="")
						.support__text Министерство образования и науки Росии

					.support__item
						.support__img
							img(src="images/support2_2.png" alt="")
						.support__text Росводресурсы

					.support__item
						.support__img
							img(src="images/support2_3.png" alt="")
						.support__text Росприроднадзор

					.support__item
						.support__img
							img(src="images/support2_4.png" alt="")
						.support__text Роспотребнадзор

					.support__item
						.support__img
							img(src="images/support2_5.png" alt="")
						.support__text Росгидромет

					.support__item
						.support__img
							img(src="images/support2_6.png" alt="")
						.support__text Институт водных проблем РАН

		.w-accent.s_white
			section
				.accent__text

					p.accent__first Всероссийский водный конгресс делает акцент на крайне острой для Российской Федерации проблеме рационального и эффективного использования водных ресурсов различными отраслями экономики.

					p По статистике водоемкость производства товаров и услуг в отечественном сельском хозяйстве, коммунальном, промышленном и топливно-энергетическом комплексах существенно выше, чем в других развитых странах, что приводит к избыточному потреблению стратегически важного ресурса. 

					p Наряду с этим водопользование в России не в полной мере отвечает современным экологическим стандартам, не учитывает специфического влияния каждой отрасли на состояние водных объектов, что приводит к снижению качества воды в них, обостряет противоречия между всеми водопотребителями.

					p Провозглашенный в Водном кодексе Российской Федерации приоритет использования водных ресурсов для хозяйственно-питьевого водоснабжения не выполняется, к воде относятся не как к главному ресурсу жизнеобеспечения населения, а как к расходному материалу, не имеющему стратегической ценности для государства и человека.  


		.spacial-attent
			p Отдельное внимание в рамках деловой программы будет уделено обсуждению развития водоёмких производств в России с целью привлечения зарубежных инвестиций и создания масштабного конкурентоспособного рынка в данной сфере.

			p Помимо этого, в фокусе Конгресса будут рассмотрены проблемы:

			ul
				li Вододефицитных регионов 
				li Вопросы охраны озера Байкал и других водных объектов стратегического значения
				li Возможности реализации глобальных международных проектов по экспорту водных ресурсов

			p Для поиска адекватного ответа на описанные вызовы и угрозы в рамках Всероссийского водного конгресса будет организован диалог профильных органов государственной власти, общественных и научных организаций, бизнеса по выработке комплексной политики рационального водопользования и конкретных направлений стратегического использования водных ресурсов России, отвечающие не только интересам всех отраслей экономики, но и экологической безопасности человека и окружающей среды.

		.w-arbat.arbat_first
			section

				.arbat__moskow Москва, 27 –  30 июня 2017 года

				.arbat__title комплекс зданий Правительства Москвы Новый Арбат, д. 36.

				p Оргкомитет Всероссийского водного конгресса «Водные ресурсы России для обеспечения устойчивого развития страны, экологической безопасностии здоровья населения» приглашает всех заинтересованных лиц к обсуждению одной из наиболее приоритетных тем в рамках Года экологии по защите и охране водных ресурсов. 

				.counter
					h3.h3_white До Начала осталось

					button.arbat__button Принять участие

		section.s-organiz

			h3 Организатор мероприятия

			.rabb
				.rabb__title
					img(src="images/rabb_title.png" alt="")
					p Российская ассоциация водоснабжения и водоотведения – профессиональное экспертное сообщество, объединяющее предприятия водопроводно-канализационного хозяйства всех федеральных округов Российской Федерации. 

				.rabb__memb

					.rabb__memb-title Членами РАВВ являются:

					ul
						li Водоканалы
						li Научно-исследовательские и проектные институты
						li Частные операторы
						li Отраслевые экспертные и аналитические организации
						li Некоммерческие партнерства
						li Экологические фонды
						li Международные и региональные профильные объединения и ассоциации
						li Поставщики оборудования, технологий и услуг сферы ЖКХ

				.rabb__indicat

					.indicat
						img(src="images/indicat_1.png" alt="")
						.indicat__title Общая протяженность водопровода

					.indicat
						img(src="images/indicat_2.png" alt="")
						.indicat__title Общая протяженность канализации

					.indicat
						img(src="images/indicat_3.png" alt="")
						.indicat__title Количество  обслуживаемого населения

					.indicat
						img(src="images/indicat_4.png" alt="")
						.indicat__title Сотрудников на предприятиях

					.indicat
						img(src="images/indicat_5.png" alt="")
						.indicat__title Годовой оборот профильных организаций

		.w-rabb
			section
				h3 Российская ассоциация водоснабжения и водоотведения

				ul
					li Представляет консолидированную позицию профессионального экспертного сообщества отрасли водоснабжения и водоотведения в органах госсударственной власти.
					li Участвует в разработке профильного законодательства, в совершенствовании нормативной правовой базы.
					li Внедряет технические, профессиональные и образовательные стандарты деятельности в отрасли.
					li Оказывает содействие развитию и внедрению отечественных инновационных, энергоэффективных, ресурсоберегающих технологий в водном секторе.
					li Консультирует предприятия коммунального комплекса в судебной практике, имущественных отношениях, в вопросах тарифообразования и привлечения инвестиций, а также организовывает научно-практические форумы, семинары и конференции.
					li Активно участвует в международных и отечественных специализированных мероприятиях.

				.rabb__site Официальный сайт 
					a(href="http://www.raww.ru") www.raww.ru

		.w-place
			section.s-place
				.h2-wrap
					h2.h2_white Место проведения

				.place
					.place__img
						img(src="images/place_img.png" alt="")

					.place__descrip

						p Всероссийский водный конгресс состоится в Москве с 27 по 30 июня 2017 года в комплексе зданий Правительства Москвы по адресу улица Новый Арбат, дом 36.

						p Здания возведены на берегу Москвы-реки в 1963-1970 годах . Комплекс расположен на территории 4,6 га В строительстве комплекса, наряду с Советским Союзом, участвовали страны - члены СЭВ: Болгария, Венгрия, ГДР, Монголия, Польша, Румыния, Чехословакия.

						p Главный административный корпус высотой в 31 этаж выполнен в виде двух плавно изогнутых крыльев, объединенных центральным стволом.
							span Слева - 11-этажная гостиница "Мир". 
							span Справа - украшенный цветной мозаикой цилиндрический корпус конференц-зала, рассчитанного на 1000 мест.
							span Здания связывает двухэтажный стилобат, в котором размещены фойе, зал заседаний и др.

						.arcitet-engin
							.place__arcitect
								.place__arcitect-title Архитекторы
								span М. Посохин
								span А. Мндоянц
								span В. Свирским

							.place__arcitect
								.place__arcitect-title Инженеры
								span Ю. Рацкевич
								span С. Школьников


		.w-arbat
			section

				.arbat__moskow Москва, 27 –  30 июня 2017 года

				.arbat__title комплекс зданий Правительства Москвы Новый Арбат, д. 36.

				.counter
					h3.h3_white До Начала осталось

					button.arbat__button Принять участие

		section.s-comitet
			.h2-wrap
				h2 Программный комитет

			p Приглашенные лица в программный комитет Всероссийского водного конгресса «Водные ресурсы России для обеспечения устойчивого развития страны, экологической безопасности и здоровья населения».

			.h4-wrap
				h4 Председатель рабочей группы
			
			.comitet__name Щетинин Михаил Павлович		
			.comitet__name-desc Комитет по аграрно-продовольственной политике и природопользованию

			.h4-wrap
				h4 Сопредседатели рабочей группы
			
			.comitet__name Чернецкий Аркадий Михайлович		
			.comitet__name-desc Первый заместитель председателя комитет по федеративному устройству, региональной политике, местному самоуправлению и делам Севера, Председатель Попечительского совета Российской ассоциации водоснабжения и водоотведения	

			.comitet__name Данилов-Данильян Виктор Иванович	
			.comitet__name-desc Директор Института водных проблем РАН

			.comitet__name Довлатова Елена Владимировна
			.comitet__name-desc Исполнительный директор Российской ассоциации водоснабжения и водоотведения

			h3 Состав программного комитета

			.h4-wrap
				h4(data-toggle="collapse" data-target="#gos-duma") Государственная Дума

			.program-comitet#gos-duma.collapse
				.program-comitet__img
					img(src="images/support1_2.png" alt="")

				.program-comitet__desc
					.comitet__title Комитет по жилищной политике и жилищно-коммунальному хозяйству 
					.comitet__name Довлатова Елена Владимировна
					.comitet__name-desc Исполнительный директор Российской ассоциации водоснабжения и водоотведения

					.comitet__title Комитет по жилищной политике и жилищно-коммунальному хозяйству 
					.comitet__name Довлатова Елена Владимировна
					.comitet__name-desc Исполнительный директор Российской ассоциации водоснабжения и водоотведения

			.h4-wrap
				h4(data-toggle="collapse" data-target="#sovet-fed") Совет Федерации

			.program-comitet#sovet-fed.collapse
				.program-comitet__img
					img(src="images/support1_1.png" alt="")

				.program-comitet__desc
					.comitet__title Комитет по жилищной политике и жилищно-коммунальному хозяйству 
					.comitet__name Довлатова Елена Владимировна
					.comitet__name-desc Исполнительный директор Российской ассоциации водоснабжения и водоотведения

					.comitet__title Комитет по жилищной политике и жилищно-коммунальному хозяйству 
					.comitet__name Довлатова Елена Владимировна
					.comitet__name-desc Исполнительный директор Российской ассоциации водоснабжения и водоотведения

			.h4-wrap
				h4(data-toggle="collapse" data-target="#minister") Министерства

			.program-comitet-wrap#minister.collapse
				.program-comitet
					.program-comitet__img
						img(src="images/support1_4.png" alt="")

					.program-comitet__desc
						.comitet__title Комитет по жилищной политике и жилищно-коммунальному хозяйству 
						.comitet__name Довлатова Елена Владимировна
						.comitet__name-desc Исполнительный директор Российской ассоциации водоснабжения и водоотведения

				.program-comitet
					.program-comitet__img
						img(src="images/support1_4.png" alt="")

					.program-comitet__desc
						.comitet__title Комитет по жилищной политике и жилищно-коммунальному хозяйству 
						.comitet__name Довлатова Елена Владимировна
						.comitet__name-desc Исполнительный директор Российской ассоциации водоснабжения и водоотведения

			.h4-wrap
				h4(data-toggle="collapse" data-target="#institution") Службы, агентства и другие подведомственные учреждения 
			.program-comitet-wrap#institution.collapse

				.program-comitet
					.program-comitet__img
						img(src="images/support1_4.png" alt="")

					.program-comitet__desc
						.comitet__title Комитет по жилищной политике и жилищно-коммунальному хозяйству 
						.comitet__name Довлатова Елена Владимировна
						.comitet__name-desc Исполнительный директор Российской ассоциации водоснабжения и водоотведения

				.program-comitet
					.program-comitet__img
						img(src="images/support1_4.png" alt="")

					.program-comitet__desc
						.comitet__title Комитет по жилищной политике и жилищно-коммунальному хозяйству 
						.comitet__name Довлатова Елена Владимировна
						.comitet__name-desc Исполнительный директор Российской ассоциации водоснабжения и водоотведения
			.h4-wrap
				h4(data-toggle="collapse" data-target="#science") Наука
			
			.program-comitet-wrap#science.collapse
				.program-comitet
					.program-comitet__img
						img(src="images/support1_4.png" alt="")

					.program-comitet__desc
						.comitet__title Комитет по жилищной политике и жилищно-коммунальному хозяйству 
						.comitet__name Довлатова Елена Владимировна
						.comitet__name-desc Исполнительный директор Российской ассоциации водоснабжения и водоотведения	

				.program-comitet
					.program-comitet__img
						img(src="images/support1_4.png" alt="")

					.program-comitet__desc
						.comitet__title Комитет по жилищной политике и жилищно-коммунальному хозяйству 
						.comitet__name Довлатова Елена Владимировна
						.comitet__name-desc Исполнительный директор Российской ассоциации водоснабжения и водоотведения	

				.program-comitet
					.program-comitet__img
						img(src="images/support1_4.png" alt="")

					.program-comitet__desc
						.comitet__title Комитет по жилищной политике и жилищно-коммунальному хозяйству 
						.comitet__name Довлатова Елена Владимировна
						.comitet__name-desc Исполнительный директор Российской ассоциации водоснабжения и водоотведения	
			.h4-wrap
				h4(data-toggle="collapse" data-target="#business") Бизнес ,промышленность, отрасли
			
			.program-comitet-wrap#business.collapse
				.program-comitet
					.program-comitet__img
						img(src="images/support1_4.png" alt="")

					.program-comitet__desc
						.comitet__title Комитет по жилищной политике и жилищно-коммунальному хозяйству 
						.comitet__name Довлатова Елена Владимировна
						.comitet__name-desc Исполнительный директор Российской ассоциации водоснабжения и водоотведения	

				.program-comitet
					.program-comitet__img
						img(src="images/support1_4.png" alt="")

					.program-comitet__desc
						.comitet__title Комитет по жилищной политике и жилищно-коммунальному хозяйству 
						.comitet__name Довлатова Елена Владимировна
						.comitet__name-desc Исполнительный директор Российской ассоциации водоснабжения и водоотведения	

				.program-comitet
					.program-comitet__img
						img(src="images/support1_4.png" alt="")

					.program-comitet__desc
						.comitet__title Комитет по жилищной политике и жилищно-коммунальному хозяйству 
						.comitet__name Довлатова Елена Владимировна
						.comitet__name-desc Исполнительный директор Российской ассоциации водоснабжения и водоотведения	
			.h4-wrap
				h4(data-toggle="collapse" data-target="#public") Общественники
			
			.program-comitet-wrap#public.collapse
				.program-comitet
					.program-comitet__img
						img(src="images/support1_4.png" alt="")

					.program-comitet__desc
						.comitet__title Комитет по жилищной политике и жилищно-коммунальному хозяйству 
						.comitet__name Довлатова Елена Владимировна
						.comitet__name-desc Исполнительный директор Российской ассоциации водоснабжения и водоотведения	

				.program-comitet
					.program-comitet__img
						img(src="images/support1_4.png" alt="")

					.program-comitet__desc
						.comitet__title Комитет по жилищной политике и жилищно-коммунальному хозяйству 
						.comitet__name Довлатова Елена Владимировна
						.comitet__name-desc Исполнительный директор Российской ассоциации водоснабжения и водоотведения	

				.program-comitet
					.program-comitet__img
						img(src="images/support1_4.png" alt="")

					.program-comitet__desc
						.comitet__title Комитет по жилищной политике и жилищно-коммунальному хозяйству 
						.comitet__name Довлатова Елена Владимировна
						.comitet__name-desc Исполнительный директор Российской ассоциации водоснабжения и водоотведения	

		.w-arbat
			section

				.arbat__moskow Москва, 27 –  30 июня 2017 года

				.arbat__title комплекс зданий Правительства Москвы Новый Арбат, д. 36.

				.counter
					h3.h3_white До Начала осталось

					button.arbat__button Принять участие

		.w-program
			section
				.h2-wrap
					h2.h2_white Деловая программа

				p Мероприятие ставит своей целью обсудить и выработать конкретные шаги по эффективному развитию водохозяйственного комплекса России в условиях нарастающей неустойчивости мировой экономики, изменения климата и ухудшения состояния окружающей среды, при острой необходимости рационализировать использование водных ресурсов отраслями экономики, повысить качество и устойчивость обеспечения населения и промышленности водой, решить проблемы вододефицитных регионов, а также увеличить потенциал производства водоёмкой продукции на экспорт.

				h3.h3_white Тематический план Конгресса

				.plan-wrap

					.plan
						.plan__img
							img(src="images/plan_1.png" alt="")

						.plan__body
							.h5-wrap
								h5(data-toggle="collapse" data-target="#plan_1") Водные ресурсы России – национальное достояние, необходимое для устойчивого развития страны 

							.h5-after Минприроды России, Минэкономразвития России, Минстрой России, Минсельхоз России, Росводресурсы, WWF

							ul#plan_1.collapse
								li Государственная политика развития водохозяйственного комплекса России в условиях изменения климата и ухудшения состояния водных объектов

								li Межгосударственное сотрудничество по эффективному использованию и охране трансграничных водных объектов
								
								li Управление водными ресурсами России

								li Комплексное использование и охрана водных объектов

								li Инвестиционный потенциал водохозяйственного комплекса

								li Перспективы реализации комплекса мер по оценке, развитию и повышению эффективности водопользования регионов России


					.plan
						.plan__img
							img(src="images/plan_2.png" alt="")

						.plan__body

							.h5-wrap
								h5(data-toggle="collapse" data-target="#plan_2") Водные ресурсы России – национальное достояние, необходимое для устойчивого развития страны 

							.h5-after Минприроды России, Минэкономразвития России, Минстрой России, Минсельхоз России, Росводресурсы, WWF

							ul#plan_2.collapse
								li Государственная политика развития водохозяйственного комплекса России в условиях изменения климата и ухудшения состояния водных объектов

								li Межгосударственное сотрудничество по эффективному использованию и охране трансграничных водных объектов
								
								li Управление водными ресурсами России

								li Комплексное использование и охрана водных объектов

								li Инвестиционный потенциал водохозяйственного комплекса

								li Перспективы реализации комплекса мер по оценке, развитию и повышению эффективности водопользования регионов России

					.plan
						.plan__img
							img(src="images/plan_3.png" alt="")

						.plan__body

							.h5-wrap
								h5(data-toggle="collapse" data-target="#plan_3") Водные ресурсы России – национальное достояние, необходимое для устойчивого развития страны 

							.h5-after Минприроды России, Минэкономразвития России, Минстрой России, Минсельхоз России, Росводресурсы, WWF

							ul#plan_3.collapse
								li Государственная политика развития водохозяйственного комплекса России в условиях изменения климата и ухудшения состояния водных объектов

								li Межгосударственное сотрудничество по эффективному использованию и охране трансграничных водных объектов
								
								li Управление водными ресурсами России

								li Комплексное использование и охрана водных объектов

								li Инвестиционный потенциал водохозяйственного комплекса

								li Перспективы реализации комплекса мер по оценке, развитию и повышению эффективности водопользования регионов России

					.plan
						.plan__img
							img(src="images/plan_4.png" alt="")

						.plan__body

							.h5-wrap
								h5(data-toggle="collapse" data-target="#plan_4") Водные ресурсы России – национальное достояние, необходимое для устойчивого развития страны 

							.h5-after Минприроды России, Минэкономразвития России, Минстрой России, Минсельхоз России, Росводресурсы, WWF

							ul#plan_4.collapse
								li Государственная политика развития водохозяйственного комплекса России в условиях изменения климата и ухудшения состояния водных объектов

								li Межгосударственное сотрудничество по эффективному использованию и охране трансграничных водных объектов
								
								li Управление водными ресурсами России

								li Комплексное использование и охрана водных объектов

								li Инвестиционный потенциал водохозяйственного комплекса

								li Перспективы реализации комплекса мер по оценке, развитию и повышению эффективности водопользования регионов России

					.plan
						.plan__img
							img(src="images/plan_5.png" alt="")

						.plan__body

							.h5-wrap
								h5(data-toggle="collapse" data-target="#plan_5") Водные ресурсы России – национальное достояние, необходимое для устойчивого развития страны 

							.h5-after Минприроды России, Минэкономразвития России, Минстрой России, Минсельхоз России, Росводресурсы, WWF

							ul#plan_5.collapse
								li Государственная политика развития водохозяйственного комплекса России в условиях изменения климата и ухудшения состояния водных объектов

								li Межгосударственное сотрудничество по эффективному использованию и охране трансграничных водных объектов
								
								li Управление водными ресурсами России

								li Комплексное использование и охрана водных объектов

								li Инвестиционный потенциал водохозяйственного комплекса

								li Перспективы реализации комплекса мер по оценке, развитию и повышению эффективности водопользования регионов России

					.plan
						.plan__img
							img(src="images/plan_6.png" alt="")

						.plan__body

							.h5-wrap
								h5(data-toggle="collapse" data-target="#plan_6") Водные ресурсы России – национальное достояние, необходимое для устойчивого развития страны 

							.h5-after Минприроды России, Минэкономразвития России, Минстрой России, Минсельхоз России, Росводресурсы, WWF

							ul#plan_6.collapse
								li Государственная политика развития водохозяйственного комплекса России в условиях изменения климата и ухудшения состояния водных объектов

								li Межгосударственное сотрудничество по эффективному использованию и охране трансграничных водных объектов
								
								li Управление водными ресурсами России

								li Комплексное использование и охрана водных объектов

								li Инвестиционный потенциал водохозяйственного комплекса

								li Перспективы реализации комплекса мер по оценке, развитию и повышению эффективности водопользования регионов России

					.plan
						.plan__img
							img(src="images/plan_7.png" alt="")

						.plan__body

							.h5-wrap
								h5(data-toggle="collapse" data-target="#plan_7") Водные ресурсы России – национальное достояние, необходимое для устойчивого развития страны 

							.h5-after Минприроды России, Минэкономразвития России, Минстрой России, Минсельхоз России, Росводресурсы, WWF

							ul#plan_7.collapse
								li Государственная политика развития водохозяйственного комплекса России в условиях изменения климата и ухудшения состояния водных объектов

								li Межгосударственное сотрудничество по эффективному использованию и охране трансграничных водных объектов
								
								li Управление водными ресурсами России

								li Комплексное использование и охрана водных объектов

								li Инвестиционный потенциал водохозяйственного комплекса

								li Перспективы реализации комплекса мер по оценке, развитию и повышению эффективности водопользования регионов России

					.plan
						.plan__img
							img(src="images/plan_8.png" alt="")

						.plan__body
							.h5-wrap
								h5(data-toggle="collapse" data-target="#plan_8") Водные ресурсы России – национальное достояние, необходимое для устойчивого развития страны 

							.h5-after Минприроды России, Минэкономразвития России, Минстрой России, Минсельхоз России, Росводресурсы, WWF

							ul#plan_8.collapse
								li Государственная политика развития водохозяйственного комплекса России в условиях изменения климата и ухудшения состояния водных объектов

								li Межгосударственное сотрудничество по эффективному использованию и охране трансграничных водных объектов
								
								li Управление водными ресурсами России

								li Комплексное использование и охрана водных объектов

								li Инвестиционный потенциал водохозяйственного комплекса

								li Перспективы реализации комплекса мер по оценке, развитию и повышению эффективности водопользования регионов России

					.plan
						.plan__img
							img(src="images/plan_9.png" alt="")

						.plan__body

							.h5-wrap
								h5(data-toggle="collapse" data-target="#plan_9") Водные ресурсы России – национальное достояние, необходимое для устойчивого развития страны 

							.h5-after Минприроды России, Минэкономразвития России, Минстрой России, Минсельхоз России, Росводресурсы, WWF

							ul#plan_9.collapse
								li Государственная политика развития водохозяйственного комплекса России в условиях изменения климата и ухудшения состояния водных объектов

								li Межгосударственное сотрудничество по эффективному использованию и охране трансграничных водных объектов
								
								li Управление водными ресурсами России

								li Комплексное использование и охрана водных объектов

								li Инвестиционный потенциал водохозяйственного комплекса

								li Перспективы реализации комплекса мер по оценке, развитию и повышению эффективности водопользования регионов России

					.plan
						.plan__img
							img(src="images/plan_10.png" alt="")

						.plan__body

							.h5-wrap
								h5(data-toggle="collapse" data-target="#plan_10") Водные ресурсы России – национальное достояние, необходимое для устойчивого развития страны 

							.h5-after Минприроды России, Минэкономразвития России, Минстрой России, Минсельхоз России, Росводресурсы, WWF

							ul#plan_10.collapse
								li Государственная политика развития водохозяйственного комплекса России в условиях изменения климата и ухудшения состояния водных объектов

								li Межгосударственное сотрудничество по эффективному использованию и охране трансграничных водных объектов
								
								li Управление водными ресурсами России

								li Комплексное использование и охрана водных объектов

								li Инвестиционный потенциал водохозяйственного комплекса

								li Перспективы реализации комплекса мер по оценке, развитию и повышению эффективности водопользования регионов России

		.w-arbat
			section

				.arbat__moskow Москва, 27 –  30 июня 2017 года

				.arbat__title комплекс зданий Правительства Москвы Новый Арбат, д. 36.

				.counter
					h3.h3_white До Начала осталось

					button.arbat__button Принять участие

		section

			.h2-wrap
				h2 Партнёры

			.support

				.support__row1
					.support__item
						.support__img
							img(src="images/support1_1.png" alt="")
						.support__text Совет Федерации ФС РФ

					.support__item
						.support__img
							img(src="images/support1_2.png" alt="")
						.support__text Государственная Дума ФС РФ

					.support__item
						.support__img
							img(src="images/support1_3.png" alt="")
						.support__text Министерство ромышленности и торговли России

					.support__item
						.support__img
							img(src="images/support1_4.png" alt="")
						.support__text Министерство природных ресурсов и экологии Росии

					.support__item
						.support__img
							img(src="images/support1_5.png" alt="")
						.support__text Министерство сельского хозяйства Росии

				.support__row2

					.support__item
						.support__img
							img(src="images/support2_1.png" alt="")
						.support__text Министерство образования и науки Росии

					.support__item
						.support__img
							img(src="images/support2_2.png" alt="")
						.support__text Росводресурсы

					.support__item
						.support__img
							img(src="images/support2_3.png" alt="")
						.support__text Росприроднадзор

					.support__item
						.support__img
							img(src="images/support2_4.png" alt="")
						.support__text Роспотребнадзор

					.support__item
						.support__img
							img(src="images/support2_5.png" alt="")
						.support__text Росгидромет

					.support__item
						.support__img
							img(src="images/support2_6.png" alt="")
						.support__text Институт водных проблем РАН

		section

			.h2-wrap
				h2 СМИ

			.smi-wrap

				.smi-item
					img(src="images/smi.jpg" alt="")
				.smi-item
					img(src="images/smi.jpg" alt="")
				.smi-item
					img(src="images/smi.jpg" alt="")
				.smi-item
					img(src="images/smi.jpg" alt="")
				.smi-item
					img(src="images/smi.jpg" alt="")
				.smi-item
					img(src="images/smi.jpg" alt="")
				.smi-item
					img(src="images/smi.jpg" alt="")
				.smi-item
					img(src="images/smi.jpg" alt="")
				.smi-item
					img(src="images/smi.jpg" alt="")
				.smi-item
					img(src="images/smi.jpg" alt="")
				.smi-item
					img(src="images/smi.jpg" alt="")
				.smi-item
					img(src="images/smi.jpg" alt="")
				.smi-item
					img(src="images/smi.jpg" alt="")
				.smi-item
					img(src="images/smi.jpg" alt="")
				.smi-item
					img(src="images/smi.jpg" alt="")

		.w-request
			section.s-request
				.h2-wrap
					h2.h2_white Заявка на участие

				form.request__form

					.request__row
						label.label_50
							span ИНН
							input(type="text")

						label.label_50
							span КПП
							input(type="text")

						label.label_70
							span Название компании	
							input(type="text")
							span.after-input Необходимо ввести правильное название юридического лица для отслеживания оплаты

						label.label_30
							span Город
							input(type="text")

					.h5-wrap
						h5 Юридический адрес

					.request__row1

						label.label_40
							span Индекс
							input(type="text")

						label.label_40
							span Телефон
							input(type="text")

						label.label_100
							span Адрес
							input(type="text")
							span.after-input Полный адрес с городом, без индекса.after-input
					
					.h5-wrap
						h5 Данные участника

					.request__row

						label.label_50
							span Фамилия
							input(type="text")

						label.label_50
							span Имя
							input(type="text")

						label.label_50
							span Отчество
							input(type="text")

						label.label_50
							span Должность
							input(type="text")

					.submit-wrap
						input(type="submit" value="ПРИНЯТЬ УЧАСТИЕ")

		section.s-exhibit
			.h2-wrap
				h2 Выставка

			figure
				img(src="images/exhibit.jpg" alt="")
				figcaption Краткое описание изображения

			p В феврале 2017 года состоялось совещание у заместителя Председателя Правительства Российской Федерации Д.Н.Козака по вопросу совершенствования налогового законодательства. РАВВ инициировало разработку двух тем, стимулирующих инвестиции в отрасль водоснабжения и водоотведения:

			p Разрешить применение ускоренной амортизации к некоторым видам инфраструктурных объектов со сроком полезного использования свыше 20 лет. Стимулировать субъекты РФ применять пониженные ставки налога на имущество организаций в отношении капиталоемких инвестиций в коммунальную инфраструктуру. По итогам совещания Минфину России было поручено подготовить изменения в Налоговый кодекс РФ, расширяющие случаи применения ускоренной амортизации.

			p По вопросу налога на имущество организаций было решено усовершенствовать межбюджетные отношения таким образом, чтобы установленные регионами льготы не оказывали негативного влияния на сумму распределяемых дотаций из федерального бюджета.	

			p В феврале 2017 года состоялось совещание у заместителя Председателя Правительства Российской Федерации Д.Н.Козака по вопросу совершенствования налогового законодательства. РАВВ инициировало разработку двух тем, стимулирующих инвестиции в отрасль водоснабжения и водоотведения.

		span.to-top
			img(src="images/to_top.png" alt="")

		.w-footer
			footer
				p Всероссийскиё водный конгресс
				p Все права защищены 
				p Москва,2017






		script(type="text/javascript" src="libs/jquery/dist/jquery.min.js")
		script(type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js")
		script(type="text/javascript" src="libs/waypoints/lib/jquery.waypoints.min.js")
		script(type="text/javascript" src="libs/slick-carousel/slick/slick.min.js")
		script(type="text/javascript" src="js/custom.js")