@import "bourbon"
@import reset


+font-face("UbuntuLight", "../fonts/UbuntuLight/UbuntuLight", $file-formats: eot woff ttf)
+font-face("UbuntuRegular", "../fonts/UbuntuRegular/UbuntuRegular", $file-formats: eot woff ttf)



$white: #fff

body
	font-family: "UbuntuLight"
	font-size: 16px
	line-height: normal
	color: #3c3c3c

.h2-wrap
	text-align: center

h2
	font-size: 36px
	font-family: "UbuntuLight"
	color: #4d8a9d
	padding: 10px
	border-bottom: 1px solid #4d8a9d
	margin-bottom: 45px
	text-transform: uppercase
	display: inline-block

.h2_white
	color: #fff
	border-bottom: 1px solid #fff

h3
	font-size: 24px
	margin-bottom: 15px
	color: #4d8a9d
	text-transform: uppercase
	text-align: center

.h3_white
	color: #fff

.h4-wrap
	text-align: center

h4
	color: #3c3c3c
	border-bottom: 1px solid #bdbdbd
	padding: 15px
	display: inline-block
	font-size: 18px
	margin-bottom: 25px

h5
	font-size: 18px
	font-family: "UbuntuRegular"

section
	max-width: 960px
	margin: 0 auto
	
.s_white
	color: #fff



/*   loader   */

.loader
	background: none repeat scroll 0 0 $white
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 10

	.loader_inner
		background-image: url("../images/loading.gif")
		background-size: cover
		background-repeat: no-repeat
		background-posirion: center center
		background-color: $white
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

/*   loader end   */


.toggle-wrap
	display: none

	/*  button animation  */

	.toggle-button
		width: 30px
		height: 30px
		float: left
		margin: 10px 0 0 10px
		cursor: pointer
		position: absolute
		top: 10px
		left: 10px
		z-index: 1
		span
			display: block


	$w: 28px
	$h: 3px

	.sandwich 
		width: $w
		height: $w
		margin: auto
		z-index: 200

	.sw-topper
		position: relative
		top: 0
		width: $w 
		height: $h
		background: rgb(255, 255, 255)
		border: none
		border-radius: 4px 4px 4px 4px
		transition: transform 0.5s, top 0.2s
		display: block
				
		//transition-delay: 0.2s, 0s


	svg
		path
			fill: #e0e0e0

	.sw-bottom
		position: relative
		width: $w
		height: $h
		top: $h * 2.2
		background: rgb(255, 255, 255)
		border: none
		border-radius: 4px 4px 4px 4px
		transition: transform 0.5s, top 0.2s
		transition-delay: 0.2s, 0s
	.sw-footer
		position: relative
		width: $w
		height: $h
		top: $h * 4.5
		background: rgb(255, 255, 255)
		border: none
		border-radius: 4px 4px 4px 4px
		transition: all 0.5s
		transition-delay: 0.1s
	.sandwich.active
		.sw-topper
			top: 9px
			transform: rotate(-45deg)
		.sw-bottom
			top: 6px
			transform: rotate(45deg)
		.sw-footer
			opacity: 0
			top: 0
			transform: rotate(180deg)
	
	/*  button animation end */


.w-arbat
	background: url(../images/arbat.png) no-repeat
	background-size: cover
	text-align: center
	color: #fff
	padding: 40px 0 55px 0
	position: relative
	z-index: 1
	max-width: 1280px
	margin: 0 auto

	p
		border-top: 1px solid #fff
		border-bottom: 1px solid #fff
		padding: 15px
		margin: 25px 0

.arbat_first
	background: url(../images/arbat_first.png) no-repeat

.arbat__moskow
	font-size: 24px
	display: inline-block
	background: url(../images/arbat_moskow.png) no-repeat
	background-size: cover
	text-transform: uppercase
	padding: 7px 50px
	margin-bottom: 30px

.arbat__title
	max-width: 400px
	text-transform: uppercase
	margin: 0 auto
	margin-bottom: 45px

.arbat__button, input[type="submit"]
	background: #fff100
	color: #000
	border-radius: 5px
	text-transform: uppercase
	border: none
	padding: 10px 25px
	font-family: "UbuntuRegular"

.w-main
	background: url(../images/w_main.png) no-repeat
	padding-bottom: 60px
	max-width: 1280px
	margin: 0 auto

header
	max-width: 960px
	margin: 0 auto
	overflow: hidden
	position: relative

.header__menu
	float: left
	margin-top: 70px
	ul
		padding: 0
		li
			margin-bottom: 10px
			background: none
			padding: 0
			a
				color: #fff
				font-size: 14px
				text-decoration: underline
				padding: 5px 0
				display: inline-block

				&:hover, &:focus
					color: #fff100
					text-decoration: none

.header__center
	background: url(../images/header_center.png) no-repeat
	padding: 30px 120px 20px
	max-width: 700px
	text-align: center
	box-sizing: border-box
	margin-left: 100px

	.arbat__moskow
		font-size: 28px
		color: #fff
		background-size: contain
		padding: 0 50px

.header__after-logo
	color: #4d8a9d
	font-size: 14px
	margin: 20px 0 30px

.header__right
	color: #fff
	font-size: 18px
	position: absolute
	top: 100px
	right: 30px

.header__phone
	margin-bottom: 10px

.main-menu
	padding: 15px 0
	border-top: 1px solid #fff
	border-bottom: 1px solid #fff
	margin-bottom: 45px

	nav
		max-width: 700px
		margin: 0 auto
		display: flex
		justify-content: space-between

		a
			color: #fff
			font-size: 14px
			text-decoration: underline
			padding: 5px 0
			display: inline-block

			&:hover, &:focus
				color: #fff100
				text-decoration: none		

.counter
	text-align: center

.s-event
	padding: 55px 0 40px

	p
		margin-bottom: 20px

	h3
		margin: 50px 0 40px

.slide
	overflow: hidden

.slide__img
	width: 20%
	float: left

.slide__cont
	width: 75%
	margin-top: 30px
	float: right

.slide__man
	text-align: right
	color: #4d8a9d
	margin-top: 30px

.slide__where
	text-align: right

.support__text
	font-size: 12px
	color: #3c3c3c
	text-decoration: underline

.support__row1, .support__row2
	display: flex
	justify-content: space-between
	flex-wrap: flex-wrap

.support__row1
	.support__item
		width: 18%
		text-align: center
		margin-bottom: 30px

.support__row2
	.support__item
		width: 15%
		text-align: center
		margin-bottom: 50px

.support__img
	height: 130px
	display: flex
	align-items: center
	justify-content: center

.w-accent
	background: url(../images/w_accent.jpg) no-repeat
	padding: 25px 0 0
	overflow: hidden
	background-size: cover
	margin-bottom: 60px
	max-width: 1280px
	margin: 0 auto

	p
		margin-bottom: 20px

.accent__text
	width: 50%
	float: right

.accent__first
	font-size: 18px
	font-family: "UbuntuRegular"
	margin-bottom: 35px

.spacial-attent
	max-width: 960px
	margin: 0 auto 80px

	p
		margin-bottom: 25px

ul
	color: #7b7b7b
	padding-left: 20px
	margin-bottom: 40px

	li
		background: url(../images/li_bg.png)  0 9px no-repeat
		padding: 7px 0 7px 25px

.s-organiz
	padding: 80px 0 10px

.rabb__title
	overflow: hidden

	img
		float: left
		margin-right: 30px

	p
		padding-top: 5px

.rabb__memb
	margin-top: 45px

	ul
		overflow: hidden
		li
			width: 49%
			float: left

.rabb__memb-title
	margin-bottom: 20px

.rabb__indicat
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	margin-bottom: 50px

.indicat
	width: 140px
	text-align: center
	margin-bottom: 30px

	img
		margin-bottom: 15px

.w-rabb
	background: url(../images/rabb_ul.jpg) no-repeat
	background-size: contain
	padding: 50px 0 70px
	max-width: 1280px
	margin: 0 auto

.rabb__site
	text-align: center
	font-size: 18px

	a
		color: #3c3c3c
		text-decoration: underline

.w-place
	background: url(../images/w_place.jpg) no-repeat
	background-size: cover
	color: #fff
	padding: 60px 0 70px
	max-width: 1280px
	margin: 0 auto

.place
	overflow: hidden

	p
		margin-bottom: 30px

	span
		display: block

.place__img
	float: left
	margin-right: 50px

.arcitet-engin
	display: flex
	justify-content: center
	flex-wrap: wrap

.place__arcitect
	width: 115px
	margin: 0 25px
	line-height: 22px
	text-align: center

.place__arcitect-title
	padding-bottom: 5px
	border-bottom: 1px solid #fff
	margin-bottom: 8px

.s-comitet
	padding: 70px 0

	h3
		margin: 60px 0 40px

	p
		font-size: 18px
		font-family: "UbuntuRegular"
		margin-bottom: 40px

.comitet__name
	color: #4d8a9d

.comitet__name-desc
	color: #7b7b7b
	margin-bottom: 25px

h4[data-toggle="collapse"]
	cursor: pointer

.program-comitet
	overflow: hidden
	margin-bottom: 20px

.program-comitet__img
	width: 145px
	float: left
	text-align: center

.program-comitet__desc
	width: calc( 100% - 175px )
	float: right
	margin-top: 15px
	
.w-program
	background: url(../images/w_program.jpg) no-repeat
	background-size: cover
	padding: 200px 0 70px
	position: relative
	top: -50px	
	max-width: 1280px
	margin: 0 auto
	color: #fff

	p 
		margin-bottom: 60px

	h3
		margin-bottom: 40px

.plan-wrap
	border: 1px solid #fff
	padding: 40px 55px
	background: rgba(255,255,255,0.2)

.plan
	overflow: hidden
	text-align: center

.plan__img
	width: 120px
	text-align: center
	float: left
	padding-top: 12px

.plan__body
	width: calc( 100% - 140px)
	float: right

	ul
		li
			color: #fff
			text-align: left
			background: url(../images/plan_body_li.png)  0 12px no-repeat

.h5-wrap
	border-top: 1px solid #fff
	border-bottom: 1px solid #fff
	padding: 7px 0 10px
	margin-bottom: 15px
	
	h5
		cursor: pointer
		width: 70%
		margin: 0 auto

.h5-after	
	margin-bottom: 35px

.w-program + .w-arbat
	position: relative
	top: -50px

.smi-wrap
	display: flex
	flex-wrap: wrap
	justify-content: space-between

	.smi-item
		width: 19%
		margin-bottom: 25px

		img
			width: 100%

.w-request
	background: url(../images/w_request.png) no-repeat
	color: #fff
	padding: 35px 0
	max-width: 1280px
	margin: 0 auto

	.h5-wrap
		text-align: center
		border: none
		margin: 20px 0 10px

		h5
			display: inline
			border-bottom: 1px solid #fff

.request__form

	label
		margin-bottom: 25px
		span
			display: block
		input
			background: rgba(255,255,255,0.2)
			border: 1px solid #fff
			width: 100%
			height: 30px
			padding-left: 10px

.after-input
	font-size: 12px
	font-family: "UbuntuRegular"
	

.label_50
	width: 48%

.label_40
	width: 40%
	margin-right: 30px

.label_30
	width: 30%

.label_70
	width: 66%

.label_100
	width: 100%

.request__row
	display: flex
	flex-wrap: wrap
	justify-content: space-between

.request__row1
	display: flex
	flex-wrap: wrap

.submit-wrap
	text-align: center

.s-exhibit
	padding: 65px 0

	figure
		float: left
		margin-right: 25px

		figcaption
			font-size: 14px
			color: #7b7b7b
			text-align: center

	p
		margin-bottom: 25px

.to-top
	position: fixed
	bottom: 95px
	right: 45px

.w-footer
	background: url(../images/w_footer.jpg) no-repeat
	max-width: 1280px
	margin: 0 auto

footer
	max-width: 960px
	margin: 0 auto
	color: #fff
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	padding: 15px 0




@import media